/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

/* Contenedor del formulario */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de los campos de entrada */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón de submit */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .mb-3 {
  width: 100%;
}

/* Estilos para las alertas */
.swal2-popup {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
}
